<%- contentFor('title') %> <%= action == 'index' ? 'Ver': 'Verificar' %>
noticias <%- contentFor('header-title') %> Noticias <% if (action == 'index')
{%> <%- contentFor('header-button') %>
<% if (_.can(_user, 'agregar noticia')) { %>
<a href="/panel/news/create" class="btn btn-primary"
  >Agregar noticia <i class="fas fa-plus ml-2"></i
></a>
<% } %>
<% } %> <%- contentFor('body') %>
<div class="row">
  <div class="col-12">
    <% if (action == 'index') { %> <% if (_.can(_user, 'editar destacadas')) {
    %>
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link text-dark btn-block text-left p-0 card-title" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Noticias destacadas
              <i class="fas fa-angle-down ml-1"></i>
            </button>
          </h2>
        </div>
        <div  id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <table class="data-table table table-bordered table-hover">
              <thead>
                <tr>
                  <th>N°</th>
                  <th>Creacion</th>
                  <th>Titulo</th>
                  <th>Imagen</th>
                  <th>Autor</th>
                  <th>Categoria</th>
                </tr>
              </thead>
              <tbody>
                <% highlights.sort((a,b) => a.number - b.number).map(newsItem => {
                %>
                <tr>
                  <td><%= newsItem.number %></td>
                  <td>
                    <%= newsItem.News?.createdAt ? _.moment(newsItem.News.createdAt,
                    'DD/MM/YY - HH:mm') : '' %>
                  </td>
                  <td><%= newsItem.News?.title || ''%></td>
                  <td>
                    <% if (newsItem.News?.imageUrl) { %><img
                      src="<%= newsItem.News.imageUrl %>"
                      alt="<%= newsItem.News.title %>"
                      style="aspect-ratio: 16/9; width: 120px"
                    /><% } %>
                  </td>
                  <td><%= newsItem.News?.User?.name || '' %></td>
                  <td><%= newsItem.News?.Category?.name || '' %></td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
    
      </div>
    <% } %> <% } %>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          Mostrando todas <%= action == 'indexMe' ? 'mis' : 'las' %> noticias <%= action == 'verify' ? 'pendientes':
          (action != 'index' && action != 'indexMe') ? 'de ' + (action == 'showTag' ? '#': '') +data.name
          : ''%>
        </h3>
      </div>
      <div class="card-body">
        <table id="data-table" class="table table-bordered table-hover">
          <thead>
            <tr>
              <th class="d-none">Creacion</th>
              <th>Creacion</th>
              <th>Titulo</th>
              <th>Imagen</th>
              <th>Autor</th>
              <th>Categoria</th>
              <% if (action == 'verify' || action == 'indexMe') { %>
              <th>Estado</th>
              <% } %>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <% news.map(newsItem => { %>
            <tr>
              <td class="d-none"><%= newsItem.id %></td>
              <td><%= _.moment(newsItem.createdAt, 'DD/MM/YY - HH:mm') %></td>
              <td><%= newsItem.title %></td>
              <td>
                <img
                  src="<%= newsItem.imageUrl %>"
                  alt="<%= newsItem.title %>"
                  style="aspect-ratio: 16/9; width: 120px"
                />
              </td>
              <td><%= newsItem.User.name %></td>
              <td><%= newsItem.Category.name %></td>
              <% if (action == 'verify' || action == 'indexMe') { %>
              <td>
                <% if (newsItem.status == 0) { %>
                <span class="badge badge-primary">Sin verificar</span>
                <% } else if (newsItem.status == 1) { %>
                <span class="badge badge-success">Verificado</span>
                <% } else { %>
                <span class="badge badge-danger">Rechazado</span>
                <% } %>
                <% } %>
              </td>
              <td>
                <div class="d-flex">
                  <% if (action != 'verify') { %>
                  <a
                    href="/news/<%= newsItem.slug %>"
                    target="_blank"
                    class="btn btn-outline-warning mx-1"
                    ><i class="fas fa-rocket"></i
                  ></a>
                  <% if (action == 'index') { %> <% if (_.can(_user, 'editar destacadas')) { %>
                  <div class="btn-group dropup">
                    <button
                      class="btn btn-outline-success"
                      type="button"
                      data-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="fas fa-star"></i>
                    </button>
                    <div class="dropdown-menu p-2 text-success border" style="z-index: 999;">
                      Asignar a
                      <div class="row p-2">
                        <% highlights.map(highlight => { %>
                          <button
                            class="btn btn-outline-success col-6"
                            onclick="confirm('Seguro que quieres agregar esta noticia a destacados <%= highlight.number %>') ? document.getElementById('form-highlight-<%= highlight.number%>-<%= newsItem.id%>').submit() : ''"
                          >
                            <span><i class="fas fa-star text-xs"></i></span> <%=
                            highlight.number %>
                          </button>
                          <form
                            action="/panel/news/<%= newsItem.slug %>/highlight?_method=PUT"
                            class="d-none"
                            method="post"
                            id="form-highlight-<%= highlight.number%>-<%= newsItem.id%>"
                          >
                            <input type="hidden" name="_method" value="PUT" />
                            <input
                            type="hidden"
                            name="number"
                            value="<%= highlight.number%>"
                            />
                          </form>
                        <% }) %>
                      </div>
                    </div>
                  </div>
                  <% } %> <% } %>
                  <% if ((newsItem.UserId === _user.id && _.can(_user, 'editar mis noticias')) || _.can(_user, 'editar todas las noticias')) { %>
                  <a
                    href="/panel/news/<%= newsItem.slug %>/edit"
                    class="btn btn-outline-primary mx-1"
                    ><i class="fas fa-pen"></i
                  ></a>
                  <% } %>
                  <% if ((newsItem.UserId === _user.id && _.can(_user, 'eliminar mis noticias')) || _.can(_user, 'eliminar todas las noticias')) { %>
                  <button
                    type="submit"
                    class="btn btn-outline-danger mx-1"
                    title="Eliminar noticia"
                    onclick="confirm('¿Eliminar la noticia <%= newsItem.title %>?') ?
                document.getElementById('form-delete-<%= newsItem.id %>').submit() : null"
                  >
                    <i class="fas fa-trash"></i>
                  </button>
                  <form
                    action="/panel/news/<%= newsItem.slug %>?_method=DELETE"
                    method="post"
                    class="d-none"
                    id="form-delete-<%= newsItem.id %>"
                  >
                    <input type="hidden" name="_method" value="DELETE" />
                  </form>
                  <% } %>
                  <% } else { %>
                  <a
                    href="/panel/news/<%= newsItem.slug %>"
                    class="btn btn-outline-<%= newsItem.status == 0 ? 'warning' : 'secondary' %> mx-1"
                    ><i class="fas fa-eye"></i
                  ></a>
                  <% } %>
                </div>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%- contentFor('styles') %>
<link
  rel="stylesheet"
  href="/adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css"
/>
<link
  rel="stylesheet"
  href="/adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css"
/>
<link
  rel="stylesheet"
  href="/adminlte/plugins/datatables-buttons/css/buttons.bootstrap4.min.css"
/>

<%- contentFor('scripts') %>
<script src="/adminlte/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/adminlte/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/adminlte/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/adminlte/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/adminlte/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/adminlte/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script>
  $(function () {
    $("#data-table").DataTable({
      language: {
        url: "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json",
      },
      paging: true,
      lengthChange: false,
      searching: true,
      ordering: true,
      info: true,
      autoWidth: false,
      responsive: true,
      order: [[0, "desc"]],
    });
    $(".data-table").DataTable({
      language: {
        url: "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json",
      },
      paging: false,
      lengthChange: false,
      searching: false,
      ordering: false,
      info: true,
      autoWidth: false,
      responsive: true,
    });
  });
</script>
