<%- contentFor('title')%> <%= title %>

<%- contentFor('body') %>
<h1 class="text-3xl pb-2 font-bold">
  <%= action === 'tag' ? '#' : '' %><%= data.name %>
</h1>
<hr />
<% if (data.description) { %>
<p class="text-lg py-2"><%= data.description %></p>
<% } %>
<% if (news.length === 0 || !news) { %>
  <p class="text-gray-400 dark:text-gray-500 text-sm text-center mt-12">No hay noticias que mostrar</p>
<% } %>
<div class="grid grid-cols-2 md:grid-cols-4 gap-x-7 gap-y-10 mt-5">
  <% news.map(news => { %>
  <a href="/news/<%= news.slug %>" class="max-w-xs">
    <div class="">
      <img src="<%= news.imageUrl %>" alt="" class="w-full aspect-video" />
    </div>
    <div class="mt-2">
      <p class="text-sm font-semibold leading-4"><%= news.title %></p>
    </div>
  </a>
  <% }) %>
</div>

<% if (count / limit > 1 ) {  %>
<%- include('../partials/pagination.ejs', {page, count, limit}) %>
<% } %>


<%- contentFor('head') %>
<meta
  name="description"
  content="<%= title %>"
/>

<meta property="og:title" content="Chaimanoticias - Listar <%= title %>" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://nch-chaimanoticias.com/" />
<meta
  property="og:image"
  itemprop="image"
  content="<%= news.imageUrl %>"
/>
<meta
  property="og:description"
  content="<%= title %>"
/>
<meta property="og:site_name" content="Chaimanoticias" />
<meta property="og:image:width" content="300" />
<meta property="og:image:height" content="300" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="Chaimanoticias - Listar <%= title %>" />
<meta
  name="twitter:description"
  content="<%= title %>"
/>
<meta name="twitter:creator" content="Chaimanoticias" />
<meta name="twitter:image" content="<%= news.imageUrl %>" />

