<nav class="mt-10 text-center">
  <ul class="inline-flex">
    <% if(page > 1) { %>
    <li class="mr-2">
      <a
        href="<%= _.addQueryString(_current_url, `page=${page - 1}`) %>"
        class="py-2 px-3 ml-0 leading-tight text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        ><i class="fa-solid fa-angle-left"></i></a
      >
    </li>
    <% } %> <% for (let i = 1; i <= (page - 2 > 3 ? 3 : page - 2 ); i++) { %>
    <li>
      <a
        href="<%= _.addQueryString(_current_url, `page=${i}`) %>"
        class="font-extrabold py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        ><%= i %></a
      >
    </li>
    <% } %> <% if (page - 1 > 0) { %>
    <li>
      <a
        href="<%= _.addQueryString(_current_url, `page=${page - 1}`) %>"
        class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        ><%= page - 1 %></a
      >
    </li>
    <% } %>
    <li>
      <a
        aria-current="page"
        class="py-2 px-3 text-blue-600 bg-blue-50 border border-gray-300 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white"
        ><%= page %></a
      >
    </li>
    <% if (page < Math.ceil(count / limit)) { %>
    <li>
      <a
        href="<%= _.addQueryString(_current_url, `page=${page + 1}`) %>"
        class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        ><%= page + 1 %></a
      >
    </li>
    <% } %>
    <% if (page < Math.ceil(count / limit) - 1) { %>
    <li class="ml-1">
      <a
        href="<%= _.addQueryString(_current_url, `page=${Math.ceil(count / limit)}`) %>"
        class="font-extrabold py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        ><%= Math.ceil(count / limit) %></a
      >
    </li>
    <% } %>
    <% if (page < Math.ceil(count / limit)) { %>
    <li class="ml-2">
      <a
        href="<%= _.addQueryString(_current_url, `page=${(Number(page) || 1) + 1}`) %>"
        class="py-2 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        ><i class="fa-solid fa-angle-right"></i></a
      >
    </li>
    <% } %>
  </ul>
</nav>