<div class="grid grid-cols-12 gap-3">
  <div class="col-span-8">
    <a
      href="/news/<%= highlights[0].News.slug %>"
      class="bg-gray-300 p-6 aspect-video w-full block"
      style="
        background: linear-gradient(
            to bottom,
            rgba(20, 20, 20, 0.2),
            rgba(20, 20, 20, 0.2),
            rgba(20, 20, 20, 0.2),
            rgba(20, 20, 20, 0.3),
            rgba(20, 20, 20, 0.3),
            rgba(20, 20, 20, 0.5),
            rgba(20, 20, 20, 0.6),
            rgba(20, 20, 20, 0.7),
            rgba(20, 20, 20, 0.8),
            rgba(20, 20, 20, 1)
          ),
          url('<%= highlights[0].News.imageUrl %>');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      "
    >
      <div class="flex justify-end flex-col h-full">
        <h3 class="text-white font-bold text-xl">
          <%= highlights[0].News.title %>
        </h3>
        <p class="mt-2 text-gray-300 text-sm">
          <%= highlights[0].News.excerpt %>
        </p>
      </div>
    </a>
  </div>
  <div class="col-span-4 dark:divide-gray-800">
    <a href="/news/<%= highlights[1].News.slug %>" class="pb-6">
      <img src="<%= highlights[1].News.imageUrl%>" alt="<%= highlights[1].News.title %>" class="border dark:border-gray-800" />
      <div class="mt-2">
        <h3 class="font-bold text-xl"><%= highlights[1].News.title %></h3>
        <p class="mt-2 text-gray-500 dark:text-gray-300 text-sm">
          <%= highlights[1].News.excerpt %>
        </p>
      </div>
    </a>
  </div>
</div>
<div class="grid grid-cols-12 gap-x-3 mt-6">
  <% [...highlights.slice(2, highlights.length)].map(highlight => { %>
  <div class="col-span-3">
    <a href="/news/<%= highlight.News.slug %>" class="pb-6">
      <img src="<%= highlight.News.imageUrl%>" alt="<%= highlight.News.title %>" class="border dark:border-gray-800"/>
      <div class="mt-2">
        <h3 class="font-bold text-xl"><%= highlight.News.title %></h3>
        <p class="mt-2 text-gray-500 dark:text-gray-300 text-sm">
          <%= highlight.News.excerpt %>
        </p>
      </div>
    </a>
  </div>
  <% }) %>
</div>
