<div class="flex flex-col space-y-2">
  <a
    href="/news/<%= highlights[0].News.slug %>"
    class="p-6 aspect-video block w-full border dark:border-gray-800"
    style="
      background: linear-gradient(
          to bottom,
          rgba(20, 20, 20, 0.2),
          rgba(20, 20, 20, 0.2),
          rgba(20, 20, 20, 0.2),
          rgba(20, 20, 20, 0.3),
          rgba(20, 20, 20, 0.3),
          rgba(20, 20, 20, 0.5),
          rgba(20, 20, 20, 0.6),
          rgba(20, 20, 20, 0.7),
          rgba(20, 20, 20, 0.8),
          rgba(20, 20, 20, 1)
        ),
        url('<%= highlights[0].News.imageUrl %>');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    "
  >
    <div class="flex justify-end flex-col h-full">
      <h3 class="text-white font-bold text-xl">
        <%= highlights[0].News.title %>
      </h3>
      <p class="mt-2 text-gray-300 text-sm">
        <%= highlights[0].News.excerpt %>
      </p>
    </div>
  </a>
  <div class="divide-y dark:divide-gray-800">
    <% [...highlights.slice(1, highlights.length)].map(highlight => { %>
    <a
      href="/news/<%= highlight.News.slug %>"
      class="flex items-center gap-3 py-3"
    >
      <div class="w-40 shrink-0" style="aspect-ratio: 16/9">
        <img
          src="<%= highlight.News.imageUrl %>"
          alt="<%= highlight.News.title %>"
          style="aspect-ratio: 16/9"
          class="w-full border dark:border-gray-800"
        />
      </div>
      <div class="mt-[-7px]">
        <span class="text-gray-400 text-sm font-medium"><%= _.moment(highlight.News.createdAt, 'MMM D, YYYY') %></span>
        <p class="text-sm font-semibold leading-4">
          <%= highlight.News.title %>
        </p>
      </div>
    </a>
    <% }) %>
  </div>
</div>
