<div class="col-lg-3 col-6">
  <div class="small-box bg-<%= type %>">
    <div class="inner">
      <h3><%= value %></h3>
      <p><%= message %></p>
    </div>
    <div class="icon">
      <i class="fas fa-<%= icon %>" style="font-size: 3.6rem"></i>
    </div>
    <a href="/panel/<%= url %>" class="small-box-footer"
      >Mas informacion <i class="fas fa-arrow-circle-right"></i
    ></a>
  </div>
</div>