<%- contentFor('title') %> Olvidé mi contraseña
<%- contentFor('body') %>
<div class="grid grid-cols-12 w-full">
  <div class="col-span-12 md:col-span-8 md:col-start-3">
    <h1 class="text-3xl font-bold mx-auto mt-3">Recuperar contraseña</h1>
    <p class="mt-5">
      Te enviaremos un email con los pasos a seguir para recuperar tu
      contraseña.
    </p>
    <form action="/auth/forget-password" method="post" class="mt-5">
      <div class="mb-6">
        <label
          for="email"
          class="<%= errors.email && 'text-red-600 dark:text-red-500' %> block mb-2 text-sm font-medium"
          >Email</label
        >
        <input
          type="email"
          id="email"
          class="<%= errors.email ? 'border-red-500' :  'border-gray-300 dark:border-gray-600' %> border bg-gray-50 dark:bg-gray-700 focus:border-blue-500 dark:focus:border-blue-500 dark:placeholder-gray-400 text-sm rounded-lg block w-full p-2.5"
          name="email"
          value="<%= data.email && data.email %>"
          required
        />
        <% if (errors.email) { %>
        <p class="mt-1 text-sm text-red-600 dark:text-red-500">
          <%= errors.email.message %>
        </p>
        <% } %>
      </div>
      <div
        class="flex justify-between flex-wrap items-center pb-8 border-b border-gray-300 dark:border-gray-700"
      >
        <button
          type="submit"
          class="text-white text-sm bg-blue-700 hover:bg-blue-800 focus:ring-4 px-7 focus:outline-none focus:ring-blue-300 font-medium rounded-lg w-full sm:w-auto py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Recuperar
        </button>
      </div>
      <a
        href="/auth/login"
        class="text-sm mt-4 block text-center hover:text-blue-700 dark:hover:text-blue-400"
        >Me acordé de la contraseña, iniciar sesion</a
      >
    </form>
  </div>
</div>


<%- contentFor('head') %>
<meta
  name="description"
  content="Pagina para recuperar tu contraseña en caso de que la hayas olvidado"
/>

<meta property="og:title" content="Chaimanoticias - Olvidé mi contraseña" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://nch-chaimanoticias.com/auth/forget-password" />
<meta
  property="og:image"
  itemprop="image"
  content="/favicon/favicon-32x32.png"
/>
<meta
  property="og:description"
  content="Pagina para recuperar tu contraseña en caso de que la hayas olvidado"
/>
<meta property="og:site_name" content="Chaimanoticias" />
<meta property="og:image:width" content="300" />
<meta property="og:image:height" content="300" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="Chaimanoticias - Olvidé mi contraseña" />
<meta
  name="twitter:description"
  content="Pagina para recuperar tu contraseña en caso de que la hayas olvidado"
/>
<meta name="twitter:creator" content="Chaimanoticias" />
<meta name="twitter:image" content="/favicon/favicon-32x32.png" />
